:root {
	--color-cakeOne: #fff5c8;
	--color-cakeTwo: #ffd61e;
	--color-cakeThree: #ff6a00;
	--color-cakeFour: #862200;
	--color-cakeFive: #490000;
	--color-soupOne: #ffadad;
	--color-soupTwo: #975d5d;
	--color-soupThree: #f50000;
	--color-soupFour: #d10000;
	--color-soupFive: #4a0b0b;
	--color-soupSix: #a70000;
}

.navBar {
	position: fixed;
	width: 100%;
	height: 8vh;
	background-color: var(--color-soupSix);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.6em 3em;
	border-bottom: 0.04em solid var(--color-cakeOne);
	z-index: 100;
}

.boxNavLogo {
	width: 30%;
}

.logo {
	width: 28%;
}

.boxNavIcon {
	width: 15%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.iconDark,
.iconLight {
	padding: 0.2em;
	height: 75%;
	cursor: pointer;
}

.boxNavFavorite {
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.iconFavourite {
	padding: 0.2em;
	height: 75%;
	cursor: pointer;
}
