:root {
	--color-cakeOne: #fff5c8;
	--color-cakeTwo: #ffd61e;
	--color-cakeThree: #ff6a00;
	--color-cakeFour: #862200;
	--color-cakeFive: #490000;
	--color-soupOne: #ffadad;
	--color-soupTwo: #975d5d;
	--color-soupThree: #f50000;
	--color-soupFour: #d10000;
	--color-soupFive: #4a0b0b;
	--color-soupSix: #a70000;
}

.navBar {
	position: fixed;
	width: 100%;
	background-color: var(--color-soupSix);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.6em 3em;
}

.boxNavLogo {
	width: 30%;
}

.logo {
	width: 28%;
}

.boxNavIcon {
	width: 7%;
	display: flex;
	justify-content: space-around;
}

.iconDark,
.iconLight {
	font-size: 3em;
	cursor: pointer;
}

.iconLight {
	color: var(--color-cakeOne);
}

.boxNavFavorite {
	width: 30%;
	display: flex;
	justify-content: flex-end;
}

.iconFavorite {
	font-size: 3em;
	color: var(--color-cakeOne);
	cursor: pointer;
}
