:root {
	--color-fav001: #f1fde5;
	--color-fav002: #c8f899;
	--color-fav003: #9ff34c;
	--color-fav004: #76ee00;
	--color-fav005: #52a600;
	--color-fav006: #2f5f00;
	--color-fav007: #0b1700;
	--color-favBackground: #fffb99;
}

.wrapperFavRec {
	width: 100%;
	min-height: 100vh;
	background-color: var(--color-favBackground);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.favHeading {
	width: 100%;
	text-align: center;
	font-size: 2.4em;
	color: var(--color-fav007);
	padding-bottom: 0.4em;
	border-bottom: 0.04em solid var(--color-fav007);
	background-color: var(--color-fav002);
	box-shadow: 0em 0.01em 0.6em var(--color-fav007);
}

.favListGird {
	width: 100%;
	min-height: 100%;
	padding: 4em;
	display: grid;
	grid-gap: 2em;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.favRecipesItemBox {
	/* position: relative; */
	width: 380px;
	padding: 2em;
	display: flex;
	background-color: var(--color-fav002);
	border: 0.04em solid var(--color-fav006);
	border-bottom-right-radius: 2em;
	border-top-left-radius: 2em;
	box-shadow: 0.1em 0.1em 0.8em var(--color-fav006);
}

.favRecipeCard {
	position: relative;
	width: 100%;
}

.favRecipeTitle {
	width: 100%;
	font-size: 1.6em;
	color: var(--color-fav006);
	margin-bottom: 0.2em;
	padding-bottom: 0.2em;
	border-bottom: 0.04em solid var(--color-fav007);
}

.favRecipeCategory {
	width: 100%;
	color: var(--color-fav005);
	margin-bottom: 0.4em;
}

.favRecipeIngrendientsBox {
	width: 75%;
	display: flex;
	flex-direction: column;
}

.favBtn {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: var(--color-fav005);
	border: 0.04em solid var(--color-fav007);
	padding: 0.2em;
	color: var(--color-fav001);
}
