:root {
	--color-fav001: #f1fde5;
	--color-fav002: #c8f899;
	--color-fav003: #9ff34c;
	--color-fav004: #76ee00;
	--color-fav005: #52a600;
	--color-fav006: #2f5f00;
	--color-fav007: #0b1700;
	--color-favBackground: #fffb99;
}
