:root {
	--color-cakeOne: #fff5c8;
	--color-cakeTwo: #ffd61e;
	--color-cakeThree: #ff6a00;
	--color-cakeFour: #862200;
	--color-cakeFive: #490000;
	--color-soupOne: #ffadad;
	--color-soupTwo: #975d5d;
	--color-soupThree: #f50000;
	--color-soupFour: #d10000;
	--color-soupFive: #4a0b0b;
}

.boxRecipesList {
	width: 100vh;
	height: 100vh;
	padding-top: 5em;
	display: flex;
	flex-direction: column;
}

.recipesList {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.recipeCard {
	display: flex;
	flex-direction: column;
	width: 32%;
	height: 50%;
	padding: 1em;
	margin: 1em;
	background-color: var(--color-cakeOne);
}

.img {
	width: 100%;
}
