:root {
	--color-cakeOne: #fff5c8;
	--color-cakeTwo: #ffd61e;
	--color-cakeThree: #ff6a00;
	--color-cakeFour: #862200;
	--color-cakeFive: #490000;
	--color-soupOne: #ffadad;
	--color-soupTwo: #975d5d;
	--color-soupThree: #f50000;
	--color-soupFour: #d10000;
	--color-soupFive: #4a0b0b;
	--color-gradientOne: linear-gradient(45deg, #fff5c8 20%, #f50000 180%);
}

/* .main_recipes {
	display: flex;
	background-color: blue;
	margin: 2em;
}

.boxRecipesList {
	width: 100%;
	min-height: 100vh;
	padding: 2em 1em 4em 1em;
	display: flex;
	flex-direction: column;
}

.recipesList {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 2em;
	background-color: green;
} */

.recipeCard {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 20%;
	min-height: 560px;
	padding: 1em;
	margin: 1em;
	background: var(--color-gradientOne);
	/* border: 0.04em solid var(--color-soupFive); */
	box-shadow: 0.5em 0.5em 1em var(--color-soupFive);
}

.img {
	margin-bottom: 0.6em;
	width: 100%;
}

.title {
	color: var(--color-cakeFive);
	padding-bottom: 0.4em;
	margin-bottom: 0.6em;
	border-bottom: 0.04em solid var(--color-soupFive);
}

.recipeCategory {
	width: 20%;
	text-align: center;
	position: absolute;
	padding: 0.4em;
	background-color: var(--color-cakeFive);
	color: var(--color-cakeOne);
}

.ingredients {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: 0.4em;
	margin-bottom: 0.6em;
	border-bottom: 0.04em solid var(--color-cakeFive);
}

.recipeIngredients {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0em 1em 1em 1em;
}

.rating {
	display: flex;
	justify-content: flex-end;
}

.countRating {
	font-weight: bold;
	color: var(--color-cakeFive);
}

.method {
	padding-bottom: 1em;
	margin-bottom: 0.6em;
	border-bottom: 0.04em solid var(--color-cakeFive);
}

.author {
	position: absolute;
	bottom: 4%;
	right: 6%;
}

.btnAddWish {
	position: absolute;
	left: 5%;
	bottom: 4%;
	padding: 0.2em 0.4em;
	background-color: var(--color-cakeFour);
	border: 0.04em solid var(--color-cakeFive);
	color: var(--color-cakeOne);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.btnAddWish:hover {
	background-color: var(--color-cakeFive);
}
