:root {
	--color-cakeOne: #fff5c8;
	--color-cakeTwo: #ffd61e;
	--color-cakeThree: #ff6a00;
	--color-cakeFour: #862200;
	--color-cakeFive: #490000;
	--color-soupOne: #ffadad;
	--color-soupTwo: #975d5d;
	--color-soupThree: #f50000;
	--color-soupFour: #d10000;
	--color-soupFive: #4a0b0b;
}

.boxRecipesList {
	width: 100vh;
	height: 100vh;
	padding-top: 5em;
	display: flex;
	flex-direction: column;
}

.recipesList {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.recipeCard {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 32%;
	height: 50%;
	padding: 1em;
	margin: 1em;
	background-color: var(--color-cakeOne);
	border: 0.04em solid var(--color-soupFive);
	box-shadow: 0.1em 0.1em 1em var(--color-soupFive);
}

.img {
	margin-bottom: 0.6em;
	width: 100%;
}

.title {
	color: var(--color-soupFour);
	padding-bottom: 0.4em;
	margin-bottom: 0.6em;
	border-bottom: 0.04em solid var(--color-soupFive);
}

.recipeCategory {
	width: 20%;
	text-align: center;
	position: absolute;
	padding: 0.4em;
	background-color: var(--color-soupThree);
	color: var(--color-cakeOne);
}

.recipeIngredients {
	width: 100%;
	padding: 1em;
}

.rating {
	display: flex;
	justify-content: flex-end;
}

.countRating {
	font-weight: bold;
	color: var(--color-cakeFive);
}

.author {
	display: flex;
	justify-content: flex-end;
}
